#Text {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}

#Text1 {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}

#head {
    font-family: Arial, Helvetica, sans-serif;
}

#block {
    background-color: #dae5f7; 
    padding: 30px;
    border: 1px dotted grey;
    margin-bottom: 10px;
}